
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$free_gaming_page-primary: mat.define-palette(mat.$indigo-palette);
$free_gaming_page-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$free_gaming_page-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$free_gaming_page-theme: mat.define-light-theme((
  color: (
    primary: $free_gaming_page-primary,
    accent: $free_gaming_page-accent,
    warn: $free_gaming_page-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($free_gaming_page-theme);

:root {
  --theme-background-color: #151523;
  --theme-foreground-color: #1A1A28;
  --primary-color: #CC0000;
  --text-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: var(--text-color);
}

body {
  background-color: var(--theme-background-color);
  color: var(--text-color);
  margin: auto 5%;
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
}

button:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #CC0000, 0 0 30px #CC0000, 0 0 40px #CC0000, 0 0 55px #CC0000, 0 0 75px #CC0000;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
