<div class="connexion-wrapper">
  <div class="form-wrapper">
    <div class="login-header">
      <h1>S'enregistrer</h1>
    </div>
    <form>
      <div>
        <label>
          <strong>Nom complet</strong>
          <div class="input-wraper">
            <input
              class="form-control input-lg"
              formControlName="name"
              name="name"
              type="name"
            />
            <div
              class="input-error"
              placement="left"
              tooltipClass="tooltip-error-input"
            >
              <span class="fa-stack fa-1x">
                <em class="notranslate fas fa-circle fa-stack-2x"></em>
                <em
                  class="notranslate fa fa-exclamation fa-stack-1x fa-inverse"
                ></em>
              </span>
            </div>
          </div>
        </label>
        <label>
          <strong>E-mail</strong>
          <div [ngClass]="{ error: errors.email.error }" class="input-wraper">
            <input
              class="form-control input-lg"
              formControlName="email"
              name="email"
              type="email"
            />
            <div
              class="input-error"
              placement="left"
              tooltipClass="tooltip-error-input"
            >
              <span class="fa-stack fa-1x">
                <em class="notranslate fas fa-circle fa-stack-2x"></em>
                <em
                  class="notranslate fa fa-exclamation fa-stack-1x fa-inverse"
                ></em>
              </span>
            </div>
          </div>
        </label>
        <label>
          <strong>Mot de passe</strong>
          <div
            [ngClass]="{ error: errors.password.error }"
            class="input-wraper"
          >
            <input
              class="form-control input-lg"
              formControlName="password"
              name="password"
              [type]="hide ? 'password' : 'text'"
              #password
            />
            <div
              class="input-error"
              placement="left"
              tooltipClass="tooltip-error-input"
            >
              <span class="fa-stack fa-1x">
                <em class="notranslate fas fa-circle fa-stack-2x"></em>
                <em
                  class="notranslate fa fa-exclamation fa-stack-1x fa-inverse"
                ></em>
              </span>
            </div>
          </div>
        </label>
        <label>
          <strong>Confirmer mot de passe</strong>
          <div
            [ngClass]="{ error: errors.password.error }"
            class="input-wraper"
          >
            <input
              class="form-control input-lg"
              formControlName="password"
              name="password"
              [type]="hide ? 'password' : 'text'"
              #password
            />
            <div
              class="input-error"
              placement="left"
              tooltipClass="tooltip-error-input"
            >
              <span class="fa-stack fa-1x">
                <em class="notranslate fas fa-circle fa-stack-2x"></em>
                <em
                  class="notranslate fa fa-exclamation fa-stack-1x fa-inverse"
                ></em>
              </span>
            </div>
          </div>
        </label>
      </div>
      <div class="submit-button">
        <button class="button" type="submit">Créer compte</button>
      </div>
    </form>
  </div>
  <div class="image-wrapper">
    <img src="../../../assets/images/Background-gaming.jpeg" alt="" />
  </div>
</div>
