<main>
  <div class="accueil">
    <div class="slogan">
      <p id="Title">FREE GAMING</p>
      <h2 id="slogan">
        Jouez comme jamais avec Free Gaming - la nouvelle offre gaming de Free !
      </h2>
      <a href="#setup"
        ><button class="button" id="voir-offre">Voir l'offre</button></a
      >
    </div>
    <div class="image-decoration">
      <img src="../../assets/images/setup led rouge.jpg" alt="" />
    </div>
  </div>
  <div class="offre">
    <div class="frebox-pop-case">
      <h1>Freebox pop</h1>
      <div class="resume-pop">
        <p>
          La Fibre ultra-rapide et la dernière génération de Wi-Fi (Wi-Fi 6).
          Une nouvelle expérience TV. Votre forfait mobile Free à moitié prix !
        </p>
      </div>
      <div class="image">
        <div class="pop">
          <img
            id="pop"
            src="../../assets/images/ServeurPopPlayerPop.png"
            alt="freebox pop"
          />
        </div>
        <div class="ligne-1">
          <div class="canal">
            <img
              src="../../assets/images/canalplus-series.svg"
              alt="canal series logo"
            />
            <p>inclus 12 mois puis 9.99€/mois</p>
          </div>
          <div class="amazon">
            <img
              src="../../assets/images/amazonPrimePrimary.svg"
              alt="amazon prime logo"
            />
            <p>inclus 6 mois puis 6.99€/mois</p>
          </div>
        </div>
        <div class="ligne-2">
          <div class="disney">
            <img
              src="../../assets/images/disney-logo-primary.svg"
              alt="disney + logo"
            />
            <p>inclus 8 mois puis 8.99€/mois</p>
          </div>
          <div class="oqee">
            <img
              src="../../assets/images/logoOqee.svg"
              alt="OQEE by free logo"
            />
            <p>inclus</p>
          </div>
        </div>
      </div>
      <p>29,99€/mois</p>
      <p>pendant 1 an puis 39,99€/mois</p>
      <p>Sans engagement.</p>
    </div>
    <div class="free-gaming-setup-case" id="setup">
      <h1>Image + description du setup proposé</h1>
      <button class="button" id="voir-offre">S'abonner</button>
    </div>
  </div>
</main>
